In [3]:
a=22
b=5
c=a*b
print(c)

110

In [7]:
a,b=int(input("Enter two num:"))
    e=a/b
    f=e*c
    g=a+b
    h=d-b

IndentationError: unexpected indent (1329624330.py, line 2)

In [16]:
x=7
print(x*1,x*2,x*3,x*4,x*5,sep="-----")

7-----14-----21-----28-----35

In [18]:
x=2
print(" ",x,"x","1","=",x*1,"\n","",x,"x","2","=",x*2,"\n","",x,"x","3","=",x*3,"\n",)

  2 x 1 = 2
  2 x 2 = 4
  2 x 3 = 6

In [5]:
num=int(input("Enter a num: "))
print(num," ",type(num))
floatNum=float(input("enter a decimal num:"))
print(floatNum," ",type(floatNum))

Enter a num: 29
29   <class 'int'>
enter a decimal num:100.4
100.4   <class 'float'>

In [40]:
num=22
print(num,"22")
print(num+num)

22 22
44

In [42]:
print(("ali said 'he is very good sports person'"))

ali said 'he is very good sports person'

In [50]:
print("A'B'")

A'B'

In [48]:
print('A"b"')

A"b"

In [51]:
print('A'B'')

SyntaxError: cannot mix bytes and nonbytes literals (3216184009.py, line 1)

In [1]:
print(9-3)

6

In [2]:
print(8*2.5)

20.0

In [3]:
print(9/2)

4.5

In [4]:
print(9/-2)

-4.5

In [5]:
print(9//-2)

-5

In [6]:
print(9%2)

1

In [7]:
print(9.0%2)

1.0

In [9]:
print(9%2.0)

1.0

In [10]:
print(9%-2)

-1

In [11]:
print(-9%2)

1

In [12]:
print(9/-2.0)

-4.5

In [13]:
print(4+3*5)

19

In [14]:
print((4+3)*5)

35

In [1]:
degree_celsius=26.0
print(9/5*degree_celsius+32)

78.80000000000001

In [2]:
degree_celsius=0.0
print(9/5*degree_celsius+32)

32.0

In [3]:
difference=20
double=2*difference
print(double)

40

In [11]:
a,b=int(input("enter number:"))
a=int(a)
b=int(b)
c=a+b
print(c)

enter number:3 4

ValueError: invalid literal for int() with base 10: '3 4'

In [40]:
hour = int(input("Enter the current hour (1-12): "))
period = input("Enter am or pm: ")
hours_into_future = int(input("Enter the number of hours into the future: "))
future_hour = (hour + hours_into_future) % 12
print(future_hour)
if future_hour == 0:
    
    
    
    future_period = period
    
    else:
        
        
      
        if (hour + hours_into_future) > 12:
            
        
            if period == 'am':
                
            
                future_period = 'pm'
                
                else:
                    
                
                  
                    future_period = 'am'
                    
            
            
                    else:
                    
                
                
                   future_period = period
                
                
                   print("The hour {hours_into_future} hours into the future will be {future_hour} {future_period}.")

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 35)

In [32]:
print("Box           oval          arrow              diamond ")
print("*****         ***             *                   *    ")
print("*   *       *     *          ***                *   *   ")
print("*   *      *       *        *****              *     *  ")
print("*   *     *         *         *               *       *  ")
print("*   *     *         *         *              *         * ")
print("*   *     *         *         *               *       *   ")
print("*   *      *       *          *                *     *    ")  
print("*   *       *     *           *                 *   *      ")  
print("*   *        *   *            *                   *       ")  
print("*****         ***             *                           ")

Box           oval          arrow              diamond
*****         ***             *                   *
*   *       *     *          ***                *   *
*   *      *       *        *****              *     *
*   *     *         *         *               *       *
*   *     *         *         *              *         *
*   *     *         *         *               *       *
*   *      *       *          *                *     *
*   *       *     *           *                 *   *
*   *        *   *            *                   *
*****         ***             *

In [30]:

n1=num//10000

TypeError: unsupported operand type(s) for //: 'str' and 'int'

In [69]:
lst=[2,3,4,5,6]
sums=0
a=int(input("Enter the number of values to be input:"))
for i in range(a):
    lst[i]=int(input("enter num"))
    sums=sums+lst[i]
    var=lst[0]
    if var>=lst[i]:
        mini=lst[i]

print("the sum is ",sums)
print("the min num is ",mini)

Enter the number of values to be input:4
enter num3
enter num4
enter num2
enter num4
the sum is  13
the min num is  2